use flake

# Load environment variables from .env file
dotenv_if_exists

# Allow direnv to use the flake.nix in this directory
# This will automatically load the development environment
# when you enter this directory